/* body */
body {
  background-color: #eee;
}

/* search */
#search-bar {
  margin: 6px 6px auto auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  /* float: right; */
  position: fixed;
}

.list-group {
  padding-right: 0px;
}

/* cards */
.carsCard {
  margin: 6px 204px auto 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
}

#image-title {
  background-color: #dfdfdf;
  border-radius: 6px 0px 0px 6px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

/* bye boxes */
#buy-box {
  float: left;
  margin: 0px 7px 16px 0px;
}

#buy-box:hover {
  /* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); */
  background-color: #eee;
}