body {
  background-color: grey;
}

header {
  background-color: white;
}

.current {}

.previous {}

.h-title {
  font-size: 30px;
  color: red;
  padding: 10px 10px;
  font-family: 'Cairo', sans-serif, serif;
}

.container-fluid {
  text-align: right;
  margin-top: 50px;
}

.card .card-header {
  background-color: #f6ffc9;
  font-size: 21px;
}

.proviewcard .card-body {
  padding: 0 0 10px 0;
  background-color: white;
}

.cardlist {
  margin-top: 20px;
  border-bottom: 1px solid grey;
  padding: 5px 10px;
}

.cardlist:last-child {
  border: 0;
}

img {
  height: 100px;
  width: 100;
}

.cartype {
  font-size: 18px;
  font-weight: bold;
  color: #212529;
  line-height: 1;
  display: inline;
}

.info-mar {
  margin: 35px 0 5px 0;
}

.from-to {
  color: red;
  font-size: 18px;
  font-weight: 400;
}

.salary {
  font-size: 15px;
  color: grey;
}