nav {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}
.bgNav {
  background-color: white;
}

.nav-item {
  padding: 0 10px;
}

.icon {
  font-family: 'Germania One';
  font-size: 3.5rem;
  margin-right: 30px;
}

#colred {
  color: #fc0303
}

.navbar-collapse {
  position: absolute;
  left: 15px;
}

#phone {
  direction: ltr;
  float: left;
  color: red;
  font-size: 20px;
}

.container-fluid {
  background-color: #9cccff;
  height: 600px;
}

#pricing {
  padding: 50px;
}

.card-time {
  text-align: right;
  border-radius: 8px;
  border-style: inset;
  border-color: black;
  background-color: #e6f2ff;
  border-width: 1px;
  padding: 10px 0;
}