/* body */
body {
  background-color: #eee;
}
/* Navbar */
.navbar {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
nav .navbar-brand {
  font-size: 30px;
  font-weight: 700;
}
nav .navbar-brand:hover {
  border-radius: 5px;
  background-color:#eee;
}
nav .nav-item {
  font-size: 15px;
  font-weight: 700;
}
nav .nav-item:hover {
  border-radius: 5px;
  background-color:#eee;
}
/* search */
#search-bar {
  margin: 6px 6px auto auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  /* float: right; */
  position: fixed;
}
.list-group {
  padding-right: 0px;
}
/* cards */
.carsCard {
  margin: 6px 204px auto 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.card-img {
  width: 100%;
}
#image-title {
  background-color: #dfdfdf;
  border-radius: 6px 0px 0px 6px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
/* bye boxes */
#buy-box {
  float: left;
  margin: 0px 7px 16px 0px;
}
#buy-box:hover {
  /* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); */
  background-color: #eee;
}