.container-fluid {
  background-color: #eee;
  height: 100%;
}

.card-time {
  display: flex;
  width: 97%;
  text-align: right;
  border-radius: 6px;
  background-color: white;
  padding: 15px 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

#pricing {
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#br-mar {
  width: 25%;
  height: 20%;
  margin-top: 20px;
  font-size: 2.5em;
}

@media screen and (max-width: 700px) {
  #br-mar {
    width: 25%;
    height: 15%;
    margin-top: 15px;
    font-size: 1.5em;
  }
}

i {
  margin-left: 8px;
}

.about-us {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  text-align: right;
  padding: 10px 20px;
  margin: auto auto 10px auto;
  width: 97%;
}

#about-title {
  font-weight: bold;
  font-family: 'Bree Serif', cursive, fantasy;
  font-size: 35px;
}

ul {
  list-style-type: circle;
}

li {
  font-size: 14px;
}

.pad-card {
  padding: 2px:
}

.sea {
  color: white;
}