<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <%- include('_head_part') %>
    <link rel="stylesheet" href="/CSS/all_cars.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('_navbar_part') %>
  <!-- end Navbar -->
  <!-- cars card -->
  <%- include('_car_card_part') %>
  <!-- end cars card -->
  <!-- Footer -->
  <%- include('_footer_part') %>
  <!-- end Footer -->
</body>

</html>