<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <%- include('_head_part') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('_navbar_part') %>
    <!-- end Navbar -->
    <!-- rent-info-card-form-->
    <form action="/search_result" method="POST">
      <div class="contain mt-4">
        <div class="card text-center" style="width: 218px;">
          <h5 class="card-header">مكان الاستلام/العودة</h5>
          <div class="card-body">
            <select id="receive_place" name="receive_place" class="form-control" required>
              <option selected disabled value="">مكان الاستلام/العودة</option>
              <option>دوار النجمة - رفح</option>
              <option>خانيونس</option>
              <option>النصيرات - محافظة الوسطى</option>
              <option>دوار فلسطين - محافظة غزة</option>
              <option>الترنس - محافظة الشمال</option>
            </select>
          </div>
        </div>
        <div class="card text-center" style="width: 218px;">
          <h5 class="card-header">تاريخ الاستلام</h5>
          <div class="card-body">
            <input type="date" class="form-control" id="receive_date" name="receive_date" required>
          </div>
        </div>
        <div class="card text-center" style="width: 218px;">
          <h5 class="card-header">وقت الاستلام</h5>
          <div class="card-body">
            <input type="time" class="form-control" id="receive_time" name="receive_time" required>
          </div>
        </div>
        <div class="card text-center" style="width: 218px;">
          <h5 class="card-header">تاريخ العودة</h5>
          <div class="card-body">
            <input type="date" class="form-control" id="arrive_date" name="arrive_date" required>
          </div>
        </div>
        <div class="card text-center" style="width: 218px;">
          <h5 class="card-header">وقت العودة</h5>
          <div class="card-body">
            <input type="time" class="form-control" id="arrive_time" name="arrive_time" required>
          </div>
        </div>
      </div>
      <center><button class="btn btn-success mt-4" style="align-items: center;">ابحث الان</button></center>
    </form></br>
    <!-- end rent-info-card-form-->
    <!-- about-us -->
    <article class="about-us">
      <h3 id="about-title">موقع رنت كار لتأجير السيارات</h3></br>
      <p>موقع لتأجير السيارات بمحافظات قطاع غزة في فلسطين. يمكن للشخص استئجار سيارة للمناسبات ، ويمكن للشركات أيضًا
        استئجار عدة سيارات ،يحتوي الموقع على شروط وقائمة قوانين لضمان حق الزبون والشركة، ويتم توقيع عقد بين الطرفين عند
        تأجير السيارة. يحتوي
        الموقع على العديد من المميزات أهمها:</p>
      <ul>
        <li>تأجير السيارات بأسعار مناسبة</li>
        <li>السرعة في تسليم السيارة</li>
        <li>ضمان حق الزبون</li>
        <li>توفير عدة أنواع وأحجام من السيارات</li>
        <li>سهولة استخدام الموقع</li>
      </ul>
    </article>
    <!-- end about-us -->
    <!-- Footer -->
    <%- include('_footer_part') %>
      <!-- end Footer -->
</body>

</html>