<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <%- include('_head_part') %>
    <link rel="stylesheet" href="/CSS/rent_info_details.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('_navbar_part') %>
    <!-- end Navbar -->
    <h5 class="container text-right mt-4">عزيزي المتأجر:</h5>
    <!-- rent info current details table -->
    <table class="table text-right container contain mt-5">
      <thead class="thead-light">
        <tr>
          <th colspan="5">الحجوزات الحالية</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#</th>
          <th>اسم السيارة</th>
          <th>من</th>
          <th>الى</th>
          <th>المبلغ</th>
        </tr> 
        <tr>
          <th scope="row">1</th>
          <td>edtsbg</td>
          <td>eatb</td>
          <td>eat</td>
          <td>aerbv</td>
        </tr>
      </tbody>
    </table>
    <!-- end rent info current details table -->
    <!-- rent info recent details table -->
    <table class="table text-right container contain mt-5">
      <thead class="thead-light">
        <tr>
          <th colspan="5">الحجوزات السابقة</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#</th>
          <th>اسم السيارة</th>
          <th>من</th>
          <th>الى</th>
          <th>المبلغ</th>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Fiat</td>
          <td>1/1/2021</td>
          <td>2/1/2021</td>
          <td>22$</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Volvo</td>
          <td>2/1/2021</td>
          <td>3/1/2021</td>
          <td>21$</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Scoda</td>
          <td>3/1/2021</td>
          <td>4/1/2021</td>
          <td>25$</td>
        </tr>
      </tbody>
    </table>
    <!-- end rent info recent details table -->
    <!-- Footer -->
    <%- include('_footer_part') %>
    <!-- end Footer -->
</body>

</html>