/* body */
body {
  background-color: #eee;
}

/* search */
#search-bar {
  margin: 6px 6px auto auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
}

.list-group {
  padding-right: 0px;
}
.btn-success {
  padding: 10px 38px;
}
/* cards */
.carsCard {
  margin: 6px 2% auto 2%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
}

#image-title {
  background-color: #dfdfdf;
  border-radius: 6px 0px 0px 6px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

/* bye boxes */
#buy-box {
  float: left;
  margin: 0px 7px 16px 0px;
  width: 14rem; height: 16rem;
}
#avai {
  background-color:#295939;
  color:white;
  padding: 2px 3px;
  border-radius: 8px;
}
#unavai {
  background-color:#af2d2d;
  color:white;
  padding: 2px 3px;
  border-radius: 8px;
}
#buy-box:hover {
  transition: 0.6s;
  background-color: #eee;
}
@media screen and (max-width: 600px) {
  #buy-box {
    float: none;
    width: 18rem;
    height: 20rem;
  }
}