body {
  background-color: #eee;
}
.contain {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
tr {
  background-color: white;
}
.colored {
  background-color:#ff4646;
  color: white;
  padding: 8px;
  border-radius: 8px;
}