body {
  background-color: #eee;
}

header {
  background-color: white;
}

.info-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% 0 0 10px;
  padding: 0 5px;
}

.card {
  text-align: right;
  background-color: white;
  border-radius: 8px;
  border-style: inset;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
  margin: 15px 0;
}

.bt-search {
  padding-left: 40px;
  padding-right: 40px;
}